.git/**
.vscode/**
*.vsix
**/*.vsix
npm-debug.log
**/__pycache__/**
**/.pytest_cache/**
**/*.pyc
**/*.pyo
**/.env
**/.npmrc
**/.pypirc
**/*.pem
**/*.key
**/*.pfx
**/*.p12
**/test/**
**/tests/**
languageExtension/src/**
languageExtension/tsconfig.json
tsconfig.json
